<Config>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <AuthenticationMethod>None</AuthenticationMethod>
  <ApiKey>0f0cd40a5fff45468529a824c0b401bf</ApiKey>
  <InstanceName>Prowlarr</InstanceName>
  <Branch>develop</Branch>
  <BindAddress>*</BindAddress>
  <Port>9696</Port>
  <SslPort>6969</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <Theme>dark</Theme>
</Config>